.get{
  background-color: #F7941E;
  padding: 81px 0 69px 0 ;
  &__title{
    font-family: Gilroy sans-serif;
    font-size: 32px;
    line-height: 140.62%;
    color: #000000;
  }
  &__subtitle{
    font-family: Gilroy sans-serif;
    font-size: 32px;
    line-height: 140.62%;
    color: #000000;
  }
  &__card{
  }
  &__btn{
    font-family: Gilroy sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background-color: #231F20;
    border-radius: 5px;
    border: none;
    margin-right: 16px;
    transition: .3s;
    &:hover{
      content: '';
      background-color: transparent;
      color: #231F20;
      transition: .3s;
      border: 2px solid #231F20;
      transform: scale(1.1);
      font-style: italic;
    }
  }
  &__btns{
    font-family: Gilroy sans-serif;
    font-size: 18px;
    line-height: 134.77%;
    text-transform: uppercase;
    color: #000000;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: .3s;
    &:hover{
      transition: .3s;
      background-color: #231F20;
      color: white;
      transform: scale(1.1);
      font-style: italic;
    }
  }
  &__column{
  }
  &__row{
    display: flex;
    column-gap: 229px;
    justify-content: center;
    align-items: center;
  }
}